*,*::before,*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  color: #434343;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root {
  height: 100vh;
}
.App {
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  background: #8430b2;
  background: -moz-linear-gradient(45deg,  #8430b2 0%, #75a8ea 100%);
  background: -webkit-linear-gradient(45deg,  #8430b2 0%,#75a8ea 100%);
  background: linear-gradient(45deg,  #8430b2 0%,#75a8ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8430b2', endColorstr='#75a8ea',GradientType=1 );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}
.PamatoHeader {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PamatoDate time {
  color: #444;
}
.PamatoDate .today {
  font-size: 16pt;
  font-weight: bold;
}
.PamatoDate p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 10pt;
}
.PamatoMain {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #333;
  flex-grow: 1;
  padding-top: 10px;
  overflow: hidden;
  border-radius: 14px 14px 0px 0px;
}
.PamatoMain h4 {
  font-size: 20pt;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.PamatoFooter {
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
}
.PamatoTaskInput input {
  font-size: 12pt;
  width: 100%;
  padding: 15px 12px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 6px;
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgba(119,151,226, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(119, 151, 226, 0.2);
}
.PamatoTaskInput input:focus {
  border: 1px solid rgba(119,151,226, 0.4);
}
.PamatoTaskInput input::placeholder {
  text-transform: capitalize;
}
.PamatoTaskTitle {
  margin-bottom: 0px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10pt;
  text-transform: uppercase;
}
.PamatoTaskList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}
.PamatoTaskList .Message {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  color: #888888;
  margin-top: auto;
  margin-bottom: auto;
}
.PamatoTaskItem {
  padding: 10px 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 11pt;
  font-weight: 600;
  color: #434343;
  cursor: pointer;
}
.PamatoTaskItem div {
  flex-grow: 1;
  text-align: left;
}
.PamatoTaskItem button {
  border: none;
  outline: none;
  background: transparent;
  color: #888;
  font-size: 20pt;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.PamatoTaskItem .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 15px;
  flex-shrink: 0;
}
.PamatoTaskItem .indicator.is-active {
  background-color: #3fff95;
}
.PamatoTaskItem .indicator.is-inactive {
  background-color: #eaeaea;
}
.PamatoTaskTab {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}
.PamatoTaskTabItem {
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 600;
  background-color: rgba(119, 151, 226, 0.1);
  color: rgb(119, 151, 226);
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 7px 14px;
}
.PamatoTaskTabItem.active {
  background-color: rgb(119, 151, 226);
  color: white;
}
.PamatoTaskTabItem .label {
  margin-right: 5px;
}
.PamatoTaskTabItem .count {
  background-color: white;
  border-radius: 50px;
  padding: 2px 5px;
  font-size: 8pt;
  color: rgb(119, 151, 226);
  font-weight: bold;
}
.PamatoUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
}
.PamatoUser img {
  width: 64px;
  height: auto;
  border-radius: 100px;
  border: 5px solid #f2f2f2;
}
.PamatoUser p {
  margin: 0px 10px 0px 0px;
  text-align: right;
  font-size: 10pt;
}
.PamatoUser .username {
  font-weight: bold;
}
